@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Main Colors */
  --color-orange: #FF9966;
  --color-pink: #FF8CA9;
  --color-yellow: #FFBE66;

  /* Backgrounds */
  --bg-primary: #FFFCFA;
  --bg-secondary: #FFFFFF;

  /* Text */
  --text-primary: #333333;
  --text-secondary: #999999;

  /* UI Elements */
  --stroke: #E5E5E5;

  /* Tints */
  --tint-purple: #BE75FF;
  --tint-green: #00D9A1;
  --tint-light-green: #F0FDF9;
  --tint-blue: #00D1FF;
  --tint-red: #F60C6E;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    /* Main Colors - Dark Mode Updates */
    /* Orange is same */
    --color-pink: #FF5BAA;
    /* Yellow is same */

    /* Backgrounds */
    --bg-primary: #1B003F;
    --bg-secondary: #2D0050;

    /* Text */
    --text-primary: #DAF0FF;
    --text-secondary: #BECCE5;

    /* UI Elements */
    --stroke: #42498F;

    /* Tints - Dark Mode Updates */
    --tint-purple: #D09BFF;
    --tint-green: #79FFDC;
    --tint-light-green: #002050;
    --tint-blue: #8CEAFF;
    --tint-red: #FF8DBD;
  }
} */

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
